/* CSS classes for root */

@font-face {
    -fx-font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf');
}

.button {
    -fx-background-radius: 0;
    -fx-background-color: #ffffff;
    -fx-text-fill: #212D5B;
}

.title-text {
    -fx-text-fill: #ffffff;
}

.lightblue-text {
    -fx-text-fill: #00BCDE;
}

.white-text {
    -fx-text-fill: #ffffff;
}

.lightblue-fill {
    -fx-fill: #00BCDE;
}

.orange-fill {
    -fx-fill: #FFC700;
}

.white-fill {
    -fx-fill: #ffffff;
}


/* CSS classes for menu scene */
.menu-main {
    -fx-background-image: url("../assets/menu-background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
}

/* CSS classes for game scene */
.main-anchor-pane {
    -fx-background-image: url("../assets/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

.outlined-container {
    -fx-border-color: #00BCDE;
    -fx-background-color: #212D5B;
    -fx-text-fill: #ffffff;
    -fx-border-width: 2;
}

.card-container {
    -fx-background-radius: 10;
    -fx-background-color: #3A446F;
    -fx-text-fill: #ffffff;
}

.level-label {
    -fx-text-fill: #ffffff;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 2;
    -fx-border-color: #00BCDE;
    -fx-background-color: #212D5B;
}

.gameover {
    -fx-background-color: #001c4f;
}

.locked {
    -fx-background-color: #212D5B !important;
    -fx-text-fill: #ff3333 !important;
    -fx-blend-mode: screen;
}

